<nav class="sidebar">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" title="Overview" routerLinkActive="active" [routerLink]="['/dashboard', 'home']">
        <div class="icon" [inlineSVG]="iconDirectoryUrl+'icon-home.svg'"></div>
        <span class="d-none d-lg-block">Overview</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="Recipes" routerLinkActive="active" [routerLink]="['/dashboard', 'recipes']">
        <div class="icon" [inlineSVG]="iconDirectoryUrl+'icon-recipe.svg'"></div>
        <span class="d-none d-lg-block">Recipes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="Stats" routerLinkActive="active" [routerLink]="['/dashboard', 'stats']">
        <div class="icon" [inlineSVG]="iconDirectoryUrl+'icon-stat.svg'"></div>
        <span class="d-none d-lg-block">Stats</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" title="Comments" routerLinkActive="active" [routerLink]="['/dashboard', 'comments']">
        <div class="icon" [inlineSVG]="iconDirectoryUrl+'icon-comment.svg'"></div>
        <span class="d-none d-lg-block">Comments</span>
      </a>
    </li>
  </ul>

</nav>
